body {
  background-color: #f2f2f2;
  font-size: 1.25rem;
  line-height: 1.5;
  overflow: hidden;
}
* {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
.nav {
  width: 12%;
  height: 100%;
  background: #ccc;
  position: absolute;
  border: 1px solid #ddd;
  box-shadow: 0 0 2px #ddd;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.nav .portrait {
  width: 250px;
  border-radius: 50%;
  border: 1px solid #ddd;
  height: 250px;
  align-self: center;
  margin-top: 25%;
  overflow: hidden;
}
.nav .portrait img {
  transition: all 1s;
}
.nav .portrait img:hover {
  transform: rotate(360deg);
}
.nav .menu {
  list-style: none;
  width: 100%;
  margin-top: 75%;
}
.nav .menu .menu-item-link {
  color: #000;
  font-size: 1em;
}
.nav .menu .menu-item-link:hover {
  color: #368ccb;
}
.post {
  padding: 30px 50px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 2px #ddd;
  width: 10000px;
  height: 100%;
  font-size: 1.5em;
}
.container {
  position: absolute;
  left: 12%;
  height: 100%;
  width: 88%;
}
.posts {
  display: flex;
  flex-direction: column;
  width: 10000px;
}
.posts .post:first-child {
  margin-top: 0;
}
.posts .post-post_title {
  font-size: 1.5em;
}
.posts .post-post_title .post-title-link {
  color: #368ccb;
  text-decoration: none;
}
.posts .post-content a {
  color: #368ccb;
  text-decoration: none;
}
.posts .post-meta {
  color: #bababa;
}
